h1 {
  text-decoration: underline;
  color: rgb(159, 0, 0);
}
html {
  background-color: gray;
}
.Вишлист {
  border: 5px double black;
  background-color: brown;
  border-radius: 25px;
  margin: auto;
  padding: 5px;
}
img {
  width: 100px;
  border: 2.5px solid black;
  border-radius: 10px;
}
h3 {
  color: rgb(142, 255, 172);
}
li {
  color: rgb(0, 0, 0);
  font-family: Trattatello;
}
.Праздник {
  border: 5px double black;
  background-color: rgb(205, 198, 0);
  border-radius: 25px;
  margin: auto;
  padding: 5px;
  color: rgb(0, 139, 139);
}
h2 {
  color: rgb(0, 138, 180);
}
